enum class TestEnum
{
  OutOfBounds,
  Unexpected,
  Other
};

using SmartTestEnum = sl::SmartEnum< TestEnum,
  sl::Case< TestEnum::OutOfBounds >,
  sl::Case< TestEnum::Unexpected, std::string_view >,
  sl::Case< TestEnum::Other >
>;

SmartTestEnum foo = SmartTestEnum::Make< TestEnum::Unexpected >( "Actual value" );

auto bar = foo.Match(
  sl::MatchCase< ErrorEnum::OutOfBounds >( [] { return "OutOfBounds"; } ),
  sl::MatchCase< ErrorEnum::Unexpected >( []( std::string_view value ) { return value; } ),
  sl::MatchDefault( [] { return "Default"; }
);