@page "/not-found"
@layout MainLayout
@inject NavigationManager Nav

<div class="not-found">
    <div class="not-found__content">
        <div class="not-found__spinner"></div>

        <h3>Not Found</h3>
        <p>Redirecting to home page…</p>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2500);
        Nav.NavigateTo("/", forceLoad: true);
    }
}